
.App {
  text-align: center;
  background-color: #e4eaf0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  letter-spacing: 0.8px;
  color: #2e2e2e;
  font-family: "Montserrat";
}

.Header {
  font-size: 30px;
  font-weight: bold;
  color: #093d6b;
  margin: 60px 0px 60px 0px;
}

.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*
    Forecast Card
*/

.ForecastCard {
  margin-top: 20px;
  background-color: #135d9c;
  width: 400px;
  border-radius:  10px;
  color: #f5f8fa;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 600px) {
  .ForecastCard {
    width: 80vw;
  }
}

.CountryCode {
  margin-left: 10px;
  background-color: brown;
  border-radius: 4px;
  padding: 3px;
  font-size: 10px;
}

.CityHeader {
  padding: 15px 0px 15px 0px;
  letter-spacing: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.DayNightSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

}

.DayNightSection .Title {
  font-size: 14px;
}

.DayNightSection {
  padding: 20px 0px 40px 0px;
}

.DayNightSection img {
  height: 90px;
  width: 90px;
  margin-bottom: -20px;
  margin-top: -5px;
  filter: invert(97%) sepia(34%) saturate(343%) hue-rotate(175deg) brightness(101%) contrast(96%);
}

.Temperature {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px 0px 30px 0px;
}

.RealTemperature {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}

.FeelTemperature {
  font-size: 12px;
}

.NextForecast {
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.NextForecast div {
  border-top: 1px solid #ccdbe6;
  width: 40%;
  margin-bottom: 15px;
}



/*
    Form
*/

.Form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  position: relative;
}

.Error {
  position: absolute;
  top: 35px;
}

.SubmitButton {
  background-color: #65139c;
  margin-left: 10px;
  border-radius: 4px;
  color: #dce2e6;
  cursor: pointer;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.2);
}

.InputField {
  border: none;
  border-radius: 4px;
  color: #3b3d40;
}

.InputField, .SubmitButton {
  font-size: 18px;
  padding: 4px 8px;
}

::placeholder {
  color: #757b80;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #757b80;
}

::-ms-input-placeholder {
  color: #757b80;
}

input:focus {
    outline: none;
}
